/* Sample2 固有のスタイル (主に寸法など) */

.l-window {
    width: 700px;
    max-width: 90%;
}

.l-window > .button-row {
    flex-direction: row;
}

.l-window > .button-row > .c-button {
    flex-grow: 1;
    flex-basis: 0;
}
